*,::before,::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}
body {
    margin: 8% 10%;
}

@media screen and (max-width:550px) {
    body {
        margin: 5%;
    }

}

